@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  --main-bg-color: #ffffff;
  --black-color: #000000;
  --search-box-color:#f5f5f5;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
.app{
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}
.center-txt{
  text-align: center;
}
.center-txt p{
  margin-top: 5rem;
}
h1,h2{
  margin-bottom: 1rem;
}
img{
  width: 100%;
  border-radius: .5rem;
}
/* FORM */

input{
  border: 0;
  padding: .5rem;
  min-width: 200px;
}
input[type="search"]{
  background-color: var(--search-box-color);
  border: 1px solid var(--main-bg-color);
  outline: none;
}
input[type="search"]:focus{
  border: 1px solid var(--black-color);
}
input[type="submit"]{
  background-color: var(--black-color);
  color: var(--main-bg-color)
}
input[type="submit"]:hover{
  transform: scale(.9);
}
/* ARTIST */
.artist, .lyrics{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .5rem;
  padding-bottom: .5rem;
}
.artist-content_image{
  width:200px;
}
/* hide information for small screens */
.artist-content_info{
  display: none;
}
.artist-content_info a{
  text-decoration: none;
  color: var(--black-color);
}
.artist-content_info a:hover{
  color: crimson;
}
/* LYRICS */
.lyrics{
  padding: 1rem;
  height: 400px;
  background-color: var(--search-box-color);
  border-radius: 2rem;
  overflow-x: scroll;
}
.lyrics-wrap{
  white-space: pre-wrap;
}

/* MEDIA QUERIES TABLETS */
@media (min-width: 768px){
  .artist-content{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
  .artist-content_image{
    width:250px;
  }
  .artist-content_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .lyrics{
    height: 550px;
  }
}
@media (min-width: 820px){
  .lyrics{
    height: 700px;
  }
}
@media (min-width: 1024px){
  .content{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 80vh;
  }
  .artist-content{
    gap: 2rem;
  }
  .artist-content_image{
    width: 350px;
  }
  .lyrics{
    height: 450px;
    overflow-x: hidden;
  }
}